body {
	background-color: #171716;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	display: block;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.box {
	border: 1px solid #8fd3fe; 
	width: 300px;
}
.box.wide {
	width: 400px;
}
.container {
	padding: 20px;
	background: linear-gradient(45deg, #000428, #004e92);
	border-radius: 10px;
	max-width:500px;
	border: 1px solid #8fd3fe;
	box-shadow: 0 0 10px #8fd3fe;
}
button {
	padding: 10px 20px;
	font-size: 18px;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s, transform 0.2s;
}
button:hover {
	background: #070c30;
	color:white;
	transform: scale(1.05);
	box-shadow: 0 0 10px #8fd3fe;
}
h1, h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 36px;
}
h2 {
	color: #8fd3fe;
}
@keyframes glitchText {
	0% {
		text-shadow: 2px 2px 5px cyan, -2px -2px 5px rgb(0,25,70);
		transform: translate(0, 0);
	}
	25% {
		text-shadow: -2px -2px 5px cyan, 2px 2px 5px rgb(0,25,70);
		transform: translate(2px, -2px);
	}
	50% {
		text-shadow: 2px -2px 5px cyan, -2px 2px 5px rgb(0,25,70) ;
		transform: translate(-2px, 2px);
	}
	75% {
		text-shadow: -2px 2px 5px cyan, 2px -2px 5px rgb(0,25,70);
		transform: translate(2px, -2px);
	}
	100% {
		text-shadow: 2px 2px 5px cyan, -2px -2px 5px rgb(0,25,70);
		transform: translate(0, 0);
	}
}
.glitch {
	font-size: 3rem;
	font-weight: bold;
	padding: 20px;
	animation: glitchText 0.2s infinite alternate;
}
.end {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.end .vault {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, #555, #222);
	border-radius: 50%;
	border: 6px solid #777;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.end .door {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, #888, #444);
	border-radius: 50%;
	position: absolute;
	transition: transform 1.5s ease-in-out, right 1.5s ease-in-out;
}
.end.open .door {
	transform: rotateY(140deg) translateX(50px);
}
.end .prize {
	position: absolute;
	width: 100px;
	height: 100px;
	background: url("reward.png") no-repeat center center;
	background-size: contain;
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.end.open .prize {
	opacity: 1;
	transform: scale(1);
	animation: glow 1s infinite alternate;
}
@keyframes glow {
	0% {
		filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.8));
	}
	100% {
		filter: drop-shadow(0 0 20px rgba(255, 215, 0, 1));
	}
}
.end-button {
	margin-top: 20px;
	padding: 10px 20px;
	background: #8fd3fe;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	font-weight: bold;
	transition: background 0.3s, transform 0.2s;
}
.end-button:hover {
	background: #070e52;
	transform: scale(1.05);
}
